global
  maxconn 15000

defaults
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend clamd_front
  bind *:3310
  default_backend clamd_back

backend clamd_back
  balance leastconn
  option tcp-check
  server clamd-1 clamd-1:3310 check
  server clamd-2 clamd-2:3310 check

frontend stats
  mode http
  bind *:8404
  stats enable
  stats uri /stats

